<div class="container-fluid" id="<%= tweet.escape("twitter_id") %>">
  <img class="prof-pic" src="<%= restaurant.escape("profile_image_url") %>" alt="prof_pic" />
  <h2><%= restaurant.escape("name") %></h2>
  <h4>@<%= restaurant.escape("scren_name") %></h4>
  <p><%= restaurant.escape("text") %></p>
</div>
